header, footer {
    background-color: #D9CEB2;
    color: black;
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

footer {
    padding: 10px 20px 20px 20px;
    
    > div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

header {
    padding: 15px 20px 20px 20px;

    a.logo {
        color: black;
    }

    p {
        margin: 0px;
    }

    ul {
        display: flex;
        justify-content: space-between;

        > div {
            display: flex;
        }
    }

    li {
        list-style: none;
        margin-right: 24px;
        min-height: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        font-weight: bold;
    }

    // Dropdown categories

    .dropBtn {
        background: none;
        color: #3097D1;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0 !important;
    }
    
    .dropdown {
        position: relative;
        display: flex;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #D9CEB2;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: #3097D1;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .dropdown-content a:hover {
        color: steelblue;
    }
    
    .show {
        display: flex !important;
        flex-direction: column;
        top: 30px;
    }
}